<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Protein Tracker</title>
    <meta name="description" content="blablabla">
    <meta name="author" content="Richard Lasjunies">
    <meta name="viewport" content="width=device-width, user-scalable=not" />
    <link href="public/Building-Blocks-gh-pages/util.css" rel="stylesheet" type="text/css">
    <link href="public/Building-Blocks-gh-pages/fonts.css" rel="stylesheet" type="text/css">
    <link href="public/Building-Blocks-gh-pages/style/headers.css" rel="stylesheet" type="text/css">
    <link href="public/Building-Blocks-gh-pages/style/input_areas.css" rel="stylesheet" type="text/css">
    <link href="public/Building-Blocks-gh-pages/style/buttons.css" rel="stylesheet" type="text/css">
    <script src="Scripts/jquery-2.1.1.js"></script>
</head>
<body>
    {{body}}
</body>
</html>